.recordButton {
  color: white;
  outline: none;
  height: 250px;
  width: 250px;
  margin: 15px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  background-color: var(--red);
  box-shadow: 0px 5px 5px 2px var(--light-matter);
}

.recordingNow {
  color: white;
  outline: none;
  height: 250px;
  width: 250px;
  margin: 15px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  background-color: var(--blue);
  box-shadow: 0px 5px 5px 2px var(--light-matter);
}

.recordButton:hover {
  filter: saturate(1.2);
}

.recordButton:active {
  filter: saturate(3);
}

.controls {
  font-size: 50px;
  margin: auto;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: transparent;
  background-color: transparent;
}

.stop {
  margin: auto;
  text-align: center;
  cursor: pointer;
  outline: none;
  /* border: transparent;
  background-color: transparent; */
}

.noStop {
  display: none;
}

.recordingMessage {
  font-size: 25px;
}

.noMessage {
  display: none;
}

.reactMic {
  border-radius: 10px;
  box-shadow: 0px 3px 6px 1px var(--matter);
  color: rgb(117, 193, 255);
}
